<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.raf.projekat2.radovan_markovic_rn4719">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.RafStudentHelperApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rsrafprojekat2radovan_markovic_rn4719">
        <activity
            android:name=".presentation.view.activities.EditNoteActivity"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".presentation.view.activities.AddNoteActivity"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".presentation.view.activities.ContentActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".presentation.view.activities.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:theme="@style/Theme.Rsrafprojekat2radovan_markovic_rn4719" />
        <activity
            android:name=".presentation.view.activities.MainActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>